<div class="d-flex flex-column container p-3">
    <h4>Add a new user</h4>
    <form [formGroup]="userForm">
    <div class="mb-3">
        <span class="form-label">First Name</span>
       <input class="form-control" formControlName="firstName"/>
    </div>
    <div class="mb-3">
        <span class="form-label">Last Name</span>
       <input  class="form-control" formControlName="lastName"/>
    </div>
    <div class="mb-3">
        <span class="form-label">Age</span>
       <input class="form-control" type="number" formControlName="age"/>
    </div>
    <div class="mb-3">
        <span class="form-label">Gender</span>
        <div class="form-check">
            <input class="form-check-input" type="radio" [value]="UserGender.MALE" id="gender-male" formControlName="gender" >
            <label class="form-check-label" for="gender-male">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" [value]="UserGender.FEMALE" id="gender-female" formControlName="gender">
            <label class="form-check-label" for="gender-female">
              Female
            </label>
          </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Create User</button>
</form>
</div>